/***=======================
Colors

Navy        | 2c3e50
Red         | e74c3c
Gray        | ecf0f1
Bright blue | 3498DB
Medium blue | 2980b9

=======================***/



/* =======================
Resets
======================= */

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
}



/* =======================
Global styles
======================= */

body,
button,
input,
label,
.submit {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.45;
}

body,
input {
  color: #2c3e50;
}

p {
  margin-bottom: 1.3em;
}

h1,
h2,
h3,
h4 {
  margin: 0.5em 0;
  font-weight: 700;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.157em;
}

h2 {
  font-size: 2.369em;
}

h3 {
  font-size: 1.777em;
}

h4 {
  font-size: 1.333em;
}

.clearfix {
  overflow: auto;
  zoom: 1;
}



/* =======================
Header
======================= */

header {
    background-color: #fff;
    border-bottom: 5px solid #ecf0f1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

#brand {
  line-height: 1;
  padding: 1.0938em 0;
  text-align: center;
}

#brand a {
  color: #2c3e50;
  text-decoration: none;
}

#brand h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

#brand h1 span {
  color: #e74c3c;
}

#brand:hover h1 span {
  animation-name: bounce;
  animation-duration: 0.75s;
  animation-timing-function: ease-out;
}

@keyframes bounce {
  from {
    font-size: inherit;
  }

  to {
    font-size: 0em;
  }
}

#brand p {
  font-size: 0.85em;
  margin: 0;
}

nav {
  text-align: center;
}

nav a {
  color: #2c3e50;
  display: inline-block;
  font-size: 14px;
  margin: 0 0.5em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

nav a:hover {
  background-color: #2c3e50;
  color: #fff;
}



/* =======================
About
======================= */

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 3em 1em 0em;
}

#about,
#work_section,
#contact_section {
  margin-bottom: 0;
  min-height: 100%;
}

#about {
  padding-top: 120px;
}

#about_text {
  text-align: center;
}

#about_text h3 {
  font-size: 1.25em;
  margin-top: 2em;
}

#about_image img {
  border-radius: 100%;
  border: 5px solid #ecf0f1;
  display: block;
  margin: 0 auto;
  width: 50%;
}

#main_button,
.submit {
  margin: 2em auto;
}

#main_button {
  bottom: 2em;
  display: none;
  left: 50%;
  margin-left: -56px;
  position: absolute;
}

.button,
.submit {
  background-color: #fff;
  border: 2px solid #e74c3c;
  border-radius: 2px;
  color: #e74c3c;
  display: inline-block;
  font-size: 1em;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.button:hover,
.submit:hover {
  background-color: #e74c3c;
  color: #fff;
}

.button i {
  display: block;
  font-weight: bold;
  line-height: inherit;
}



/* =======================
Work
======================= */

#work_section {
  background-color: #3498DB;
  border-bottom: 120px solid #fff;
  color: #fff;
  margin-bottom: -120px;
}

#work_section h2,
#contact_section h2 {
  text-align: center;
}

/* Makes the nav link jump to the right place with sticky nav* /
/* source for below: http://stackoverflow.com/questions/10732690/offsetting-an-html-anchor-to-adjust-for-fixed-header */
a.anchor {
    display: block;
    position: relative;
    top: -120px;
    visibility: hidden;
}

#work_container {
  margin: 3em auto;
}

#work_container:last-child {
  margin-right: 0;
}

.work-item {
  /*float: left;*/
  margin: 0 auto;
  width: 70%;
}

.overlay {
  /*padding: 2em;*/
}

.overlay h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
}

.work-image img {
  width: 100%;
}

.work-links {
  text-align: center;
}

.live-button,
.github-button {
  border-color: #2c3e50;
  color: #2c3e50;
  margin: 0 0.25em;
}

.live-button:hover,
.github-button:hover {
  background-color: #2c3e50;
}



/* =======================
Contact
======================= */

label,
input,
textarea {
  display: block;
  margin: 0 auto;
  text-align: center;
}

label {
  margin: 1em 0 0.5em;
}

input,
textarea {
  border: 1px solid #67848b;
  padding: 0.5em;
  width: 100%;
}

.submit {
  cursor: pointer;
  display: block;
  -webkit-appearance: none;
}



/* =======================
Footer
======================= */

footer {
  background-color: #2c3e50;
  padding: 1em;
  text-align: center;
}

footer a {
  text-decoration: none;
}

footer .fa-lg, {
  font-size: 28px;
}

footer .fa-lg:hover {
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
}

footer p,
footer .fa-circle,
footer .fa-github {
  color: #ecf0f1;
}

footer .fa-linkedin,
footer .fa-twitter {
  color: #2c3e50;
}

footer p {
  font-size: 0.75em;
  font-weight: 400;
  line-height: 43px;
  margin-bottom: 0;
}



/* =======================
Media queries
======================= */

@media screen and (min-width: 400px) {
  #brand h1 {
    font-size: 2.5em;
  }

  nav a {
    font-size: 1em;
  }

  #about {
    padding-top: 135px;
  }

  #work_section {
    border-width: 135px;
    margin-bottom: -135px;
  }

  a.anchor {
    top: -135px;
  }

  footer {
    padding: 2em;
    text-align: left;
  }

  footer p {
    float: left;
  }

  #social_links {
    float: right;
  }
}

@media screen and (min-width: 550px) {
    #about_image img {
      width: 40%;
    }

    input,
    textarea {
      width: 40%;
    }
}


@media screen and (min-width: 800px) {
  header {
      padding: 1em 2em;
  }

  #brand {
    float: left;
    height: 100px;
    line-height: 1;
    padding: 1.0938em 0;
  }

  nav {
    float: right;
  }

  nav a {
    border-radius: 100%;
    line-height: 100px;
    height: 100px;
    width: 100px;
    margin: 0;
    padding: 0;
  }

  #about {
    padding-top: 137px;
  }

  #about_text {
    float: left;
    margin-right: 4%;
    text-align: left;
    width: 64%;
  }

  #about_text h3 {
    font-size: 1.777em;
    margin: 0.5em 0;
  }

  #about_image {
    float: right;
    width: 31%
  }

  #about_image img {
    width: 100%;
  }

  #main_button {
    display: block;
  }

  #work_section {
    border-width: 137px;
    margin-bottom: -137px;
  }

  .work-item {
    float: left;
    width: 32%;
  }

  a.anchor {
    top: -137px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    padding: 3em 0em 0em;
  }
}
