/* =======================
Resets
======================= */

body,
button {
  font-family: 'Montserrat', sans-serif;
}

body,
p {
  margin: 0;
}



/* =======================
User styles
======================= */

#container {
  max-width: 960px;
  margin: 0 auto;
}

button {
  background-color: #fff;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  display: block;
  font-size: 1em;
  margin: 2em auto;
  padding: 0.5em 1em;
}

a#button {
    text-decoration: none;
}

footer {
  margin-top: 50px;
}

footer p {
  float: left;
}

#social_links {
  float: right;
}
